{%- comment -%} include.authors (array; * co-first, # co-corresponding), include.max, include.truncated, include.unbold; needs labkeys.html {%- endcomment -%}
{%- assign _max = include.max | default: 14 -%}
{%- assign _n = include.authors | size -%}
{%- assign _head = _max | minus: 3 -%}
{%- assign _tail = _n | minus: 2 -%}
{%- assign _gap = _head | plus: 1 -%}
<div class="a">
{%- for a in include.authors -%}
  {%- assign _i = forloop.index -%}
  {%- if _n > _max and _i > _head and _i <= _tail -%}
    {%- if _i == _gap -%}, …{%- endif -%}
    {%- continue -%}
  {%- endif -%}
  {%- unless forloop.first -%}, {% endunless -%}
  {%- assign _clean = a | remove: "*" | remove: "#" -%}
  {%- capture _marks -%}{% if a contains "*" %}*{% endif %}{% if a contains "#" %}#{% endif %}{%- endcapture -%}
  {%- include islab.html name=_clean -%}
  {%- if include.unbold contains _clean -%}{%- assign islab = false -%}{%- endif -%}
  {%- if islab -%}<b>{{ _clean }}</b>{%- else -%}{{ _clean }}{%- endif -%}
  {%- if _marks != "" -%}<sup class="mk">{{ _marks }}</sup>{%- endif -%}
{%- endfor -%}
{%- if include.truncated -%}, et al.{%- endif -%}
</div>
